map $http_referer $root {
	default      "/var/www/home";
	"~/testify"  "/var/www/testify/dist";
}
	

server {
	listen 80;
	listen [::]:80;
	
	server_name localhost;
	
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	proxy_set_header X-Nginx-Proxy true;
	proxy_set_header Host $host;
	
	

	
	location ~* \.(js|jpe?g|png|css|ttf)$ { 

		root $root;
		
		expires 30d;
	
	}
		
	
	location /testify { 
		
		proxy_pass http://localhost:8080;	
	
	}
	
	

}
